# Projeto 2 - Ci√™ncia dos Dados

Nome: felipe

Nome: Ohara

Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
# Classificador autom√°tico de sentimento

## Preparando o ambiente no jupyter:

In [1]:
%%capture

#Instalando o tweepy
!pip install tweepy

In [2]:
import tweepy
import math
import os.path
import pandas as pd
import json
from random import shuffle
import emoji
import emoji_list

___
## Autenticando no  Twitter

* Conta: ***[@felipelacombe54]***

In [3]:
#Dados de autentica√ß√£o do twitter:

#Coloque aqui o identificador da conta no twitter: @fulano

#leitura do arquivo no formato JSON
with open('auth.pass') as fp:    
    data = json.load(fp)

#Configurando a biblioteca. N√£o modificar
auth = tweepy.OAuthHandler(data['consumer_key'], data['consumer_secret'])
auth.set_access_token(data['access_token'], data['access_token_secret'])

___
## Etapas do projeto:

### Escolha de um produto e coleta das mensagens

Capturando os dados do twitter:

Salvando os dados em uma planilha Excel:

___
### Classificando as mensagens na coragem

Esta etapa √© manual. Fa√ßa a mesma pelo Excel.

### Introduzindo os conceitos

Nesse projeto, utilizamos como base para o assunto da coleta de tweets o banco C6Bank. O banco utilisa um modelo moderno para lidar com seus clientes, e recebe e responde a feedback via tweeter. Como crit√©rio de an√°lise, consideramos relevante cr√≠ticas ao banco no geral, elogios construtivos com especifica√ß√µes sobre o que foi apreciado e o que poderia melhorar no servi√ßo do C6Bank, e respostas do pr√≥prio banco com especifica√ß√µes sobre o que foi aproveitado do feedback recebido. Elogios sem conte√∫do espec√≠fico, respostas do banco sem retorno relevante aos clientes e todo o resto, foram considerados irrelevantes.

___
### Montando o Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [34]:
Dataframe = pd.read_excel('C6Bank.xlsx')
lista_zero = Dataframe[Dataframe.Relevancia == 0]
lista_um = Dataframe[Dataframe.Relevancia == 1]
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√¥','o')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√≥','o')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√∫','u')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√ß','c')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√≠','i')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('@',' ')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√©','e')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√™','e')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√°','a')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.replace('√£','a')
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.strip()
Dataframe['Treinamento'] = Dataframe['Treinamento'].str.lower()

In [35]:
Dataframe.head(10)

   Relevancia                                        Treinamento
0           0  estamos sempre ouvindo voce para implantar nov...
1           1  mv_br neste momento ainda nao temos essa opcao...
2           1  eduardobedimm opa,  eduardobedimm! tudo certo?...
3           1  babafemizaki fala,  babafemizaki! essa ideia j...
4           1  acabei de solicitar atendimento pelo app do  c...
5           0  wrlsn lindo mesmo, ne,  wrlsn? estamos muito f...
6           0  caiojsm ahhh! ainda bem que lembrou depois,  c...
7           0  bradesco  bancodobrasil  bancointer  c6bank  n...
8           1  camilahepplin oi, camila. tudo bem? atualmente...
9           0  c6bank opa, nao e nao. mas eu mando pra vcs, g...

In [7]:
lista_relevancia = list(lista_um['Treinamento'])
join1 = ' '.join(lista_relevancia)
lista_rel = pd.Series(join1.split())

In [8]:
lista_irrelevancia = list(lista_zero['Treinamento'])
join2 = ' '.join(lista_irrelevancia)
lista_irrel = pd.Series(join2.split())

In [9]:
Dataframe.Relevancia.value_counts(True) * 100

0    75.0
1    25.0
Name: Relevancia, dtype: float64

In [10]:
produto_relevante = .75
produto_irrelevante = .25

In [11]:
vc1 = lista_rel.value_counts() + 1

In [12]:
tot1 = sum(vc1)

In [13]:
probabilidade1 = (vc1/tot1)

In [14]:
dic_relevante = probabilidade1.to_dict()

In [15]:
vc0 = lista_irrel.value_counts() + 1

In [16]:
tot0 = sum(vc0)

In [17]:
probabilidade0 = (vc0/tot0)

In [18]:
dic_irrel = probabilidade0.to_dict()

___
### Verificando a performance

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [39]:
Teste = pd.read_excel('C6Bank.xlsx', 'Teste')
Teste['Teste'] = teste['Teste'].str.replace('√¥','o')
Teste['Teste'] = Teste['Teste'].str.replace('√≥','o')
Teste['Teste'] = Teste['Teste'].str.replace('√∫','u')
Teste['Teste'] = Teste['Teste'].str.replace('√ß','c')
Teste['Teste'] = Teste['Teste'].str.replace('√≠','i')
Teste['Teste'] = Teste['Teste'].str.replace('@',' ')
Teste['Teste'] = Teste['Teste'].str.replace('√©','e')
Teste['Teste'] = Teste['Teste'].str.replace('√™','e')
Teste['Teste'] = Teste['Teste'].str.replace('√°','a')
Teste['Teste'] = Teste['Teste'].str.replace('√£','a')
Teste['Teste'] = Teste['Teste'].str.strip()
Teste['Teste'] = Teste['Teste'].str.lower()

In [41]:
Teste.head(20)

    Relevancia                                               Teste
0             1  c6bank opa, quis dizer que oficialmente divulg...
1             1  ontem fiz um comentario e a  c6bank  entrou em...
2             1     c6bank e o meu cartao cade? 4 meses e nada kkk
3             1  lucoveiga ja estamos trabalhando nisso, lucas!...
4             0  leeticiasouza21 que legal ter voce no nosso ti...
5             0  jg_lopes te respondemos, juliano. da uma olhad...
6             0  c6bank meu banco ajudando a me manter hidratad...
7             1  c6bank meu aplicativo nao esta salvando, tudo ...
8             0  gui_aazevedo01  nubank  c6bank estamos sempre ...
9             1  gustavogatti88 opa, gustavo! tudo certo? valeu...
10            0  chegou meu cartao do  c6bank achei a coisa mai...
11            0  felipecn que demais,  felipecn. esse time e mu...
12            0  c6bank obrigado por usar meu nome do meio e na...
13            1  c6bank estou recebendo essa mensagem sempre qu...
14            0             c6bank  felipecn cade voce no video? ü§™
15            0                     c6bank ate esqueci de marcar!!
16            0              deavyz valeu, alberto! üñ§üíõ #edasuavida
17            1  edsonpiresnunes ainda nao, edy! atualmente est...
18            1  bancooriginal  bancointer  c6bank  nubank o pr...
19            1  mottalacerda conta com a gente, edson. estamos...

In [21]:
resultado = []
def Verificacao(Dataframe):
    tweets = i.split()
    x = 1
    y = 1
    for palavra in tweets:
        if palavra not in dic_relevante:
            x *= 1/(tot0 + tot1)
        else:
            x *= dic_relevante[palavra]
        if palavra not in dic_irrel:
            y *= 1/(tot0 + tot1)
        else:
            y *= dic_irrel[palavra]
    x1 = x * produto_relevante
    y1 = y * produto_irrelevante
    if x1 > y1:
        return 1
    else:
        return 0

In [22]:
for i in teste.Teste:
    resultado.append(Verificacao(teste.Teste))

In [23]:
teste['Processado'] = resultado

___
### Concluindo

In [28]:
pd.crosstab(Dataframe.Relevancia, teste.Processado)

Processado   0   1
Relevancia
0           78  64
1           33  25

# Concluindo

Ap√≥s concluirmos a an√°lise dos dados, podemos confirmar que o projeto obteve relativo sucesso em classificar ambos os tweets considerados relevantes e irrelevantes. Com uma taxa de acertos aceit√°vel, podemos admitir que o classificador teve a capacidade de corretamente interpretar a maioria dos tweets coletados. Por√©m, pode-se observar tamb√©m uma tend√™ncia, uma vez que quanto menos objetivo o assunto ou fraseamento do tweet √©, menor √© a chance de acerto do programa.

## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que periodicamente realiza an√°lise de sentimento e visualiza estes dados

# Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf) 

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/)